<!-- Banner -->
<div class="w-screen overflow-hidden">
    <div class="w-screen space-y-3 h-auto flex flex-col justify-between bg-gray-500 dark:bg-gray-500 curved z-0 full-width bg-no-repeat bg-cover bg-left bg-fixed filter saturate-50 bg-blend-multiply backdrop-filter contrast-75 bg-clip-padding pb-24" style="background-image: {% test 'src/images/EVs.jpg' %};">
        <div class="w-screen mx-auto bg-transparent">
            <!-- Text -->
            <div class="pt-4 align-middle text-center text-white">
                <div class="flex flex-col space-y-2">
                    <h2 class="text-3xl sm:text-4xl font-medium pl-2 pr-2">Danish Society for Extracellular Vesicles</h2>
                    <hr class="border-0 bg-gray-100 text-gray-500 h-0.5 w-16 mx-auto" />
                    <p class="text-gray-300 pl-4 pr-4">Supporting Extracellular Vesicle Research and Education across Denmark!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cards -->
<div class="z-50 -mt-20 w-full pl-4 pr-4 grid sm:grid-cols-3 grid-cols-1 gap-4 max-w-2xl text-black mx-auto">
    <!-- News -->
    <a href="/pages/news/" class="z-40">
        <button type="button" class="card-banner sm:h-2/3 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none">
            <!-- Logo -->
            <div class="text-dsev flex fill_current h-16 w-full">
                {{ '/src/images/newspaper_black_24dp.svg' | svgContents("fill-current block h-12 w-12 block mx-auto my-auto") | safe }}
            </div>
    
            <!-- Heading -->
            <div class="w-full">
                <h2 class="text-xl">News & updates</h2>
                <p class="text-sm text-gray-600">DSEV news and updates!</p>
            </div>
        </button>
    </a>

    <!-- Researcher profiles -->
    <button type="button" class="card-banner sm:h-5/6 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none">
        <!-- Logo -->
        <div class="text-dsev flex fill_current h-16 w-full">
            {{ '/src/images/icons/icon_about.svg' | svgContents("fill-current block h-12 w-12 block mx-auto my-auto") | safe }}
        </div>

        <!-- Heading -->
        <div class="h-auto w-full">
            <h2 class="text-xl">Researcher profiles</h2>
            <p class="text-sm text-gray-600">Discover associated researchers!</p>
        </div>
    </button>

    <!-- Research infrastructure -->
    <button type="button" class="card-banner hover:bg-gray-200 focus:bg-gray-200 focus:outline-none">
        <!-- Logo -->
        <div class="text-dsev flex fill_current h-16 w-full">
            {{ '/src/images/icons/icon_research.svg' | svgContents("fill-current  block h-12 w-12 block mx-auto my-auto") | safe }}
        </div>

        <!-- Heading -->
        <div class="h-auto w-full">
            <h2 class="text-xl">Research infrastructure</h2>
            <p class="text-sm text-gray-600">Learn about extracellular vesicle research infrastructure!</p>
        </div>
    </button>

</div>
