<!-- Footer -->
<div class="flex flex-row items-center fill-current space-x-2 text-xs">
    <!-- Copyright -->
    <div class="flex flex-row space-x-2" x-data="{ year: new Date().getFullYear() }">
        <p>&copy;<span x-text="year"></span> - DSEV</p>
        <p>|</p>
    </div>

    <!-- Source code -->
    <a class="items-center" href="{{ metadata.footer.source_url }}" target="_blank">
        <div class="flex flex-row space-x-1 items-center fill-current">
            {{ '/src/images/icons/icon_github.svg' | svgContents("fill-current  block h-3 w-3 block mx-auto my-auto") | safe }}

            <p>{{ metadata.footer.source_text }}</p>
        </div>
    </a>
    <p>|</p>

    <!-- Admin login -->
    <a class="items-center h-4" href="{{ metadata.footer.admin_url }}" target="_blank">
        <div class="flex flex-row space-x-1 items-center fill-current">
            {{ '/src/images/icons/icon_admin.svg' | svgContents("fill-current  block h-full w-4 block mx-auto my-auto") | safe }}

            <p>{{ metadata.footer.admin_text }}</p>
        </div>
    </a>
</div>
