<!-- External stuff -->
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />

<!-- Flickity HTML init -->
<div class="carousel h-40 pr-16 pl-16 w-full" data-flickity='{ "autoplay": true, "wrapAround": true, "contain": true, "cellAlign": "right" }'>
    <div class="carousel-cell mr-2 w-carousel rounded-lg h-full bg-red-300"></div>
    <div class="carousel-cell mr-2 w-carousel rounded-lg h-full bg-green-300"></div>
    <div class="carousel-cell mr-2 w-carousel rounded-lg h-full bg-blue-300"></div>
    <div class="carousel-cell mr-2 w-carousel rounded-lg h-full bg-yellow-300"></div>
    <div class="carousel-cell mr-2 w-carousel rounded-lg h-full bg-gray-300"></div>
</div>

