<!-- External stuff -->
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />

<!-- Flickity HTML init -->
<div class="carousel sm:h-40 pr-16 pl-16 w-full" data-flickity='{ "autoplay": "1000", "wrapAround": true, "contain": true, "cellAlign": "right" }'>
    <div class="carousel-cell carousell-style bg-red-300">

    </div>
    <div class="carousel-cell carousel-style bg-green-300"></div>
    <div class="carousel-cell carousel-style bg-blue-300"></div>
    <div class="carousel-cell carousel-style bg-yellow-300"></div>
    <div class="carousel-cell carousel-style bg-gray-300"></div>
</div>

