<!-- Footer -->
<div class="flex flex-row items-center fill-current space-x-2 text-xs">
    
    <!-- Copyright -->
    <p id="footer"><!-- Javasrcipt --></p>
    <p>|</p>

    <!-- Github -->
    <a class="items-center" href="{{ metadata.source_code_url }}" target="_blank">
        <div class="flex flex-row space-x-2 items-center fill-current">
            {{ '/src/images/icons/icon_github.svg' | svgContents("fill-current text-teal-500 block h-3 w-3 block mx-auto my-auto") | safe }}

            <p>Source code</p>
        </div>
    </a>
    <p>|</p>

    <!-- Admin login -->
    <a href="https://app.forestry.io/sites/dgdx5xwemvqxaa/#/">Admin login</a>
</div>

<!-- Scripts -->
<script>
    /* Write year to footer*/
    var today = new Date();
    var year = today.getFullYear();
    document.querySelector("#footer").innerHTML = "&copy;" + year + " - DSEV";
</script>
