<!-- Footer -->
<div class="flex flex-row items-center fill-current space-x-2 text-xs">
    <p id="footer"><!-- Javasrcipt --></p>
    <p>|</p>
    <a class="items-center" href="{{ metadata.source_code_url }}" target="_blank">
        <div class="flex flex-row space-x-2 items-center fill-current">
            <img class="fill_current" src="images/icon_github.svg" alt="">

            <p>Source code</p>
        </div>
    </a>
</div>

<!-- Scripts -->
<script>
    /* Write year to footer*/
    var today = new Date();
    var year = today.getFullYear();
    document.querySelector("#footer").innerHTML = "&copy;" + year + " - DSEV";
</script>
