<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DSEV - {{ title }}</title>

        <!-- Stylesheet -->
        <link rel="stylesheet" href="/style.css" />



        <!-- Alpine js -->
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    </head>
    <body class="bg-gray-100 text-gray-900 dark:text-gray-100 dark:bg-background ">
        <div class="flex flex-col h-screen justify-between">
            <!-- Navbar -->
            <header class="container mx-auto flex max-w-4xl justify-between">
            {% include "navbar.njk" %}
            </header>

            <!-- Content -->
            <main class="">
                {{ content | safe }}
            </main>

            <!-- Footer -->
            <footer class="flex flex-col items-center h-6 pb-2">
                {% include "footer.njk" %}
            </footer>
        </div>
    </body>
</html>