<!-- External stuff -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- Flickity HTML init -->
<div class="h-40 max-w-4xl mx-auto w-full overflow-hidden pl-5 pr-5">
    <div class="carousel h-full md:pr-16 md:pl-16 w-full" data-flickity='{ "wrapAround": true , "autoPlay": 4500, "contain": true, "cellAlign": "right" }'>
    
        {% set total_posts = collections.posts | length %} 
        {% set article_list = collections.articles | head(-4) %} 
        {% for article in article_list | reverse %}
        <div class="carousel-cell carousel-style bg-green-300">
            <div>
                {% image "logo", "{{ article.image }}", "DSEV logo", "object-scale-down w-52", "(min-width: 10em) 20vw, 10vw"%}
            </div>
        </div>

        {% endfor %}

<!--        <div class="carousel-cell carousel-style bg-red-300">        </div>

     
    <div class="carousel-cell carousel-style bg-blue-300"></div>
        <div class="carousel-cell carousel-style bg-yellow-300"></div>
        <div class="carousel-cell carousel-style bg-gray-300"></div> -->
    </div>
</div>

