<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DSEV - {{ title }}</title>

        <!-- Stylesheet -->
        <link rel="stylesheet" href="/style.css" />

        <!-- Alpine js -->
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    </head>
    <body class="bg-light-primary text-gray-900 dark:text-gray-100 dark:bg-dark-primary  font-montserrat">
        <div class="flex flex-col h-screen justify-between">
            <!-- Navbar -->
            <header class="container mx-auto flex max-w-4xl justify-between">
            {% include "section/navbar.njk" %}
            </header>

            <!-- Content -->
            <main class="flex-grow w-full">
                <div class="mx-auto text-center p-10 max-w-5xl">

                    <h2 class="text-3xl p-2" style="text-wrap: pretty;">
                        {{ title }}
                    </h2>

                    <h4>
                        {% if location %}
                            {{ location }}
                        {% elif provider %}
                            {{ provider }}
                        {% elif employer %}
                            {{ employer }}
                        {% else %}
                            {{ date | readableDate}}
                        {% endif %}
                    </h4>

                    <!-- Extra data block -->
                    <div 
                      class="mt-4 mx-auto w-max grid gap-y-2 gap-x-4 sm:grid-cols-[auto_1fr]">

                      {% if infrastructure %}
                        <div class="font-bold text-right">Infrastructure:</div>
                        <div class="text-left">{{ infrastructure }}</div>
                      {% endif %}

                      {% if level %}
                        <div class="font-bold text-right">Course Level:</div>
                        <div class="text-left">{{ level }}</div>
                      {% endif %}

                      {% if semester %}
                        <div class="font-bold text-right">Semester:</div>
                        <div class="text-left">{{ semester }}</div>
                      {% endif %}

                      {% if organiser %}
                        <div class="font-bold text-right">Course Organiser:</div>
                        <div class="text-left">{{ organiser }}</div>
                      {% endif %}

                      {% if deadline %}
                        <div class="font-bold text-right">Application Deadline:</div>
                        <div class="text-left">{{ deadline | readableDateTime }}</div>
                      {% endif %}

                      {% if startdate %}
                        <div class="font-bold text-right">Expected Start Date:</div>
                        <div class="text-left">{{ startdate | readableDate }}</div>
                      {% endif %}

                      {% if duration %}
                        <div class="font-bold text-right">Duration of Employment:</div>
                        <div class="text-left">{{ duration }}</div>
                      {% endif %}

                      {% if workplace %}
                        <div class="font-bold text-right">Place of Work:</div>
                        <div class="text-left">{{ workplace }}</div>
                      {% endif %}
                    </div>
                </div>
                <article class="prose dark:prose-invert p-5 mx-auto ">
                {{ content | safe }}
                </article>
            </main>

            <!-- Footer -->
            <footer class="flex flex-col items-center h-6 pb-2">
                {% include "section/footer.njk" %}
            </footer>
        </div>
    </body>
</html>

<!-- Scripts -->
<script>
    /* Set theme */
    if (localStorage.theme === "dark" || (!"theme" in localStorage && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
        document.querySelector("html").classList.add("dark");
    } else if (localStorage.theme === "dark") {
        document.querySelector("html").classList.add("dark");
    }

    document.getElementById("switchTheme").addEventListener("click", function () {
        let htmlClasses = document.querySelector("html").classList;
        if (localStorage.theme == "dark") {
            htmlClasses.remove("dark");
            localStorage.removeItem("theme");
        } else {
            htmlClasses.add("dark");
            localStorage.theme = "dark";
        }
    });
    document.getElementById("switchTheme_dropdown").addEventListener("click", function () {
        let htmlClasses = document.querySelector("html").classList;
        if (localStorage.theme == "dark") {
            htmlClasses.remove("dark");
            localStorage.removeItem("theme");
        } else {
            htmlClasses.add("dark");
            localStorage.theme = "dark";
        }
    });

    /* Calculate year */
    calculate_year = function () {
        var today = new Date();
        var year = today.getFullYear();
        return year;
    };
</script>
