---
title: Board members
layout: layouts/base.njk
description: Current and former board members of DSEV
tags:
- about
figure: "/src/images/groups_black_24dp.svg"

---
<div class="flex flex-col h-full p-4 max-w-5xl mx-auto">
    <!--  text -->
    <div class="flex flex-col space-y-2 pb-4">
        <h2 class="text-4xl font-semibold">Meet the board members</h2>
        <h3 class="text-2xl">Current board members</h3>
    </div>

    <!--  Cards -->
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
        {% for name, item in board_members %} 
        {% for inner_data in item %} 
        {% if inner_data.current_board_member %} 
        <div class="flex flex-col bg-white shadow-xl h-auto w-auto rounded-lg p-2">
            <!-- Image -->
            <div class="flex items-center justify-center p-4">{% image "", inner_data.photo, "Portrait", "w-44 h-44 rounded-full object-cover object-top", "(min-width: 10em) 20vw, 10vw"%}</div>

            <!-- Text -->
            <div class="flex flex-row justify-between pl-4 pr-4 pb-4">
                <div class="">
                    <p class="font-semibold text-lg">{{ inner_data.name }}</p>
                    <p class="text-indigo-900">{{ inner_data.position }}</p>
                </div>

                <!-- Icons -->
                <div class="flex flex-row space-x-2 text-gray-500">
                    {% if inner_data.email %}
                    <a href="mailto: {{ inner_data.email }}" class="flex justify-center">
                        {{ '/src/images/icons/icon_email.svg' | svgContents("fill-current h-6 w-6 block mx-auto my-auto") | safe }}
                    </a>
                    {% endif %}
                    {% if inner_data.web_url %}
                    <a href="http://{{ inner_data.web_url }}" class="flex justify-center">
                        {{ '/src/images/icons/icon_link.svg' | svgContents("fill-current h-6 w-6 block mx-auto my-auto") | safe }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endif %} {% endfor %} {% endfor %}

        <!--  Cards -->
    </div>

    <h3 class="text-2xl pt-16 pb-4">Former board members</h3>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
        {% for name, item in board_members %} 
        {% for inner_data in item %} 
        {% if not inner_data.current_board_member %} 
        <div class="flex flex-col bg-white shadow-xl h-auto w-auto rounded-lg p-2">
            <!-- Image -->
            <div class="flex items-center justify-center p-4">{% image "", inner_data.photo, "Portrait", "w-44 h-44 rounded-full object-cover object-top", "(min-width: 10em) 20vw, 10vw"%}</div>

            <!-- Text -->
            <div class="pl-4 pr-4 pb-4">
                <p class="font-semibold text-lg">{{ inner_data.name }}</p>
                <p class="text-indigo-900">{{ inner_data.position }}</p>
                <p class="italic text-xs text-gray-700">{{ inner_data.start_date }} - {{ inner_data.end_date }}</p>
            </div>
        </div>

        {% endif %} {% endfor %} {% endfor %}

    </div>

</div>