@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .curved {
        border-bottom-left-radius: 95% 65%;
        border-bottom-right-radius: 95% 65%;
    }
    .full-width {
        min-width: 150%;
        display: flex;
        margin-left: -25vw;
        margin-right: -25vw;
        justify-content: center;
    }
    .overlay:hover .after {
        display: block;
        background: rgba(0, 0, 0, .6);
    }
}
