@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .curved {
        border-bottom-left-radius: 95% 90%;
        border-bottom-right-radius: 95% 90%;
    }
    .wrapper {
        position: absolute;
        width: 100%;
        left:0px;
        z-index: -1;
        overflow: hidden;

        
    }
    .full-width {
        min-width: 150vw;
        margin-left: -25vw;
        margin-right: -25vw;


    }
}
