<!-- Form -->
<form name="abstractForm" enctype="multipart/form-data" data-netlify="true">
    
    <!-- Personal information -->
    <div>
        <h3 class="mb-5 text-xl font-medium text-gray-900 dark:text-white">Your information</h3>
        
        <!-- Email -->
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Email</label>
        <div class="relative mb-6">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
          </div>
          <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com">
        </div>
    
        <!-- Name -->
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Name</label>
        <div class="relative mb-6">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                </svg>
            </div>
            <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Jane Doe">
        </div>
    </div>

    <!-- Abstract -->
    <div>
        <h3 class="mb-5 text-xl font-medium text-gray-900 dark:text-white">Abstract information</h3>

        <!-- Abstract type -->
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">What presentation do you want?</label>
        <div class="relative mb-6">
            <ul class="grid gap-6 w-full md:grid-cols-2">
            <li>
                <input type="radio" id="oral" name="presntation" value="oral" class="hidden peer" required>
                <label for="oral" class="inline-flex justify-between items-center p-5 w-full text-gray-500 bg-white rounded-lg border border-gray-200 cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                    <div class="block">
                        <div class="w-full text-lg font-semibold">Oral presentation</div>
                        <div class="w-full">10-15 min oral presentation.</div>
                    </div>
                </label>
            </li>
            <li>
                <input type="radio" id="poster" name="presntation" value="poster" class="hidden peer">
                <label for="poster" class="inline-flex justify-between items-center p-5 w-full text-gray-500 bg-white rounded-lg border border-gray-200 cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">Poster presentation</div>
                        <div class="w-full">Bring a A0 poster.</div>
                    </div>
                </label>
            </li>
            </ul>
        </div>
    
        <!-- Abstract file -->
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="file_input">Upload abstract</label>
        <div class="relative mb-6">

        <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input" type="file">
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">DOCX (MAX. 100kb).</p>
       </div>

    </div>

    <!-- Submit -->
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>

Result: <p class="result"></p>


<!-- Submit script -->
<script>
    document.forms.abstractForm.addEventListener("submit", (event) => {
    event.preventDefault();
    const result = document.querySelector(".result");
    fetch("/", {
        body: new FormData(event.target),
        method: "POST",
    })
    .then(() => {
        result.innerText = "Success";
    })
    .catch((error) => {
        result.innerText = `Failed: ${error}`;
    });
});
</script>