---
title: home
layout: base.njk
---

<div>
    <!-- Image section -->
    <div class="">
        <!-- Paralax image -->
        <div class="wrapper h-32">
            {% background "src/images/vesicle.jpg", "Vesicles", "", "(min-width: 200%) 1, 1" %}
            <div class="bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500"></div>
        </div>
    </div>

    <!-- Text -->
    <div class="flex justify-center pt-36">
        <p class="text-4xl">Welcome</p>
    </div>

    <div class="pt-96"></div>
</div>
