---
title: DSEV - The Danish Society for Extracellular Vesicles
layout: layouts/base.njk
---

<!-- Top section -->
<div>{% include "src/_includes/section/banner.njk" %}</div>

<!-- Text section -->
<div class="max-w-2xl p-4 space-y-4 flex flex-col mx-auto">
    <p class="text-4xl text-center">Who are we?</p>
    <article class="prose dark:prose-invert">
        <p>The Danish Society for Extracellular Vesicles (DSEV) is a Danish community of extracellular vesicles-, exosomes-, and microvesicle researchers. The objective of DSEV is to promote the interests of Danish scientists nationally and internationally.</p>

        <p>As an organization, DSEV connects researchers at its Annual Meeting and reach out to global EV researcheres and workshops/events.</p>

        <p>If you are a researcher interested in learning more about extracellular vesicle, please consider joining DSEV.</p>
    </article>
    <noscript class="text-3xl font-bold"> If you see this line, it means that your JavaSript is disabled. Several features of this webpage might not display correctly. </noscript>
</div>

<!-- News and mailing list -->
<div class="">{% include "src/_includes/section/news_mail.njk" %}</div>

<!-- Article wheel -->
<div>
    {% include "src/_includes/section/article_wheel.njk" %}
</div>
