---
title: DSEV - The Danish Society for Extracellular Vesicles
layout: layouts/base.njk
---

<!-- Top section -->
<div>{% include "src/_includes/section/banner.njk" %}</div>


<!-- Text section -->
<div class="max-w-2xl p-4 space-y-4 flex flex-col mx-auto">
    <p class="text-4xl text-center">Who are we?</p>
    <article class="prose dark:prose-invert">
        <p>The Danish Society for Extracellular Vesicles (DSEV) is a Danish community of researchers and students in the EV field. The objective of DSEV is to advance EV research through promoting scientific communication among scientists in Denmark at all career stages.</p>

        <p>As an organisation, DSEV creates opportunities for networking both within and beyond the national border, reaching out to other EV societies.</p>

        <p>We are currently in the process of updating this webpage as a centralised hub for sharing information on our resources featuring research personnel, education and infrastructure. Stay tuned!</p>
    </article>
    <noscript class="text-3xl font-bold"> If you see this line, it means that your JavaSript is disabled. Several features of this webpage might not display correctly. </noscript>
</div>

<!-- Middle section -->
<div class="w-full pl-4 pr-4 grid sm:grid-cols-3 grid-cols-1 gap-4 max-w-2xl text-black mx-auto" x-data="{ contact: false, membership: false }">

  <!-- Grants -->
  <a href="/pages/grants/" class="z-40">
  <button type="button" class="card-banner bg-light-secondary dark:bg-dark-secondary hover:bg-gray-200 focus:bg-gray-200 dark:hover:bg-dark-tertiary dark:focus:bg-dark-tertiary focus:outline-none">
      <!-- Logo -->
      <div class="text-dsev flex fill_current h-16 w-full">
          {{ '/src/images/icons/icon_gavel.svg' | svgContents("fill-current block h-12 w-12 block mx-auto my-auto") | safe }}
      </div>

      <!-- Heading -->
      <div class="h-auto w-full">
          <h2 class="text-lg dark:text-white">DSEV Grants</h2>
          <p class="text-sm text-gray-600 dark:text-gray-400">Financial support from DSEV</p>
      </div>
  </button>
  </a>
	
  <!-- Membership -->
  <button type="button" class="card-banner bg-light-secondary dark:bg-dark-secondary hover:bg-gray-200 focus:bg-gray-200 dark:hover:bg-dark-tertiary dark:focus:bg-dark-tertiary focus:outline-none" @click="membership = !membership">
      <!-- Logo -->
      <div class="text-dsev flex fill_current h-16 w-full">
          {{ '/src/images/icons/icon_registration.svg' | svgContents("fill-current block h-12 w-12 block mx-auto my-auto") | safe }}
      </div>

      <!-- Heading -->
      <div class="h-auto w-full">
          <h2 class="text-lg dark:text-white">Membership</h2>
          <p class="text-sm text-gray-600 dark:text-gray-400">How to become a member</p>
      </div>
  </button>

  <!-- Contact us (card) -->
  <button type="button" class="card-banner bg-light-secondary dark:bg-dark-secondary hover:bg-gray-200 focus:bg-gray-200 dark:hover:bg-dark-tertiary dark:focus:bg-dark-tertiary focus:outline-none" @click="contact = !contact">
      <!-- Logo -->
      <div class="text-dsev flex fill_current h-16 w-full">
          {{ '/src/images/icons/icon_email.svg' | svgContents("fill-current  block h-12 w-12 block mx-auto my-auto") | safe }}
      </div>

      <!-- Heading -->
      <div class="h-auto w-full">
          <h2 class="text-lg dark:text-white">Contact</h2>
          <p class="text-sm text-gray-600 dark:text-gray-400">Write us a message</p>
      </div>
  </button>

  <!-- Modal -->
  {% include "modal/modal_contact.njk" %}
  {% include "modal/modal_membership.njk" %}

  <script>
    /* Check for valid email */
    function isEmail(value) {
        return new RegExp("^\\S+@\\S+[\\.][0-9a-z]+$").test(String(value).toLowerCase());
    }

    /* Contact form */
    function contactEmail() {
        return {
            loading: false,
            sucess: false,
            email: "",
            emailValid: false,
            emailMissing: false,
            name: "",
            nameMissing: false,
            message: "",
            messageMissing: false,

            submitData() {
                /* Set loading loading */
                this.loading = true;
                let error = false;

                /* Check if email is valid or not */
                if (this.email == "") {
                    this.emailMissing = true;
                    this.loading = false;
                    error = true;
                } else if (!isEmail(this.email)) {
                    this.emailValid = true;
                    this.loading = false;
                    error = true;
                }

                /* Check if name is missing */
                if (this.name == "") {
                    this.nameMissing = true;
                    this.loading = false;
                    error = true;
                }

                /* Check if message is missing */
                if (this.message == "") {
                    this.messageMissing = true;
                    this.loading = false;
                    error = true;
                }

                /* Run code if no error */
                if (error) {
                    error = false;
                    return;
                } else {
                    /* Generate formdata element */
                    let formElement = document.getElementById("contact");
                    let body = new URLSearchParams(new FormData(formElement)).toString();

                    /* Submit form */
                    return fetch("/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                        },
                        body: body,
                    })
                        .then((response) => {
                            if (response.ok) {
                                formElement.reset();
                                /* Show sucess */
                                this.sucess = true;
                            } else {
                                throw new Error(`Something went wrong: ${response.statusText}`);
                            }
                        })
                        .catch((error) => console.error(error));
                }
            },
        };
    }
  </script>
</div>

<!-- News and mailing list -->
<div class="">{% include "src/_includes/section/news_mail.njk" %}</div>

<!-- Article wheel -->
<div>
    {% include "src/_includes/section/article_wheel.njk" %}
</div>

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
